<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>844203106569-6kmperrsjig0tuqcti7eki16ntmesic9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.844203106569-6kmperrsjig0tuqcti7eki16ntmesic9</string>
	<key>API_KEY</key>
	<string>AIzaSyCO_PGd7PpaPEwjH4rZM__RwiAZLNq4Vgs</string>
	<key>GCM_SENDER_ID</key>
	<string>844203106569</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kazatest</string>
	<key>PROJECT_ID</key>
	<string>kazatest2</string>
	<key>STORAGE_BUCKET</key>
	<string>kazatest2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:844203106569:ios:4456dc74422fb93ceeb3d8</string>
</dict>
</plist>